<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

</head>
<body class="d-flex">
  <div class="container d-flex align-items-center justify-content-center">
    <form action="">
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/not-found-7621869-6167023.png" alt="dashboardImage">
      <div class=" d-flex align-items-center justify-content-center">
        <button routerLink="/admin/dashboard" class="btn btn-secondary">Go to Dashboard</button>
      </div>
    </form>
  </div>
</body>
</html>